body{
   background-color:#131313;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square {
    width: 30%;
    background:purple;
    padding-bottom: 30%;
    float: left;
    margin:1.66%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
    background-color: steelblue;
    margin: 0;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background:blue;
}