body {
  color: yellow;
  background-color: purple; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  nav ul li {
    display: inline-block; }
  nav ul a {
    color: red; }

.guzik {
  border-radius: 40%;
  background-color: aqua;
  width: 150px;
  height: 30px; }
