        @media only screen and (max-width: 1060px) {
        header {
            width: 100%;
            background-position: center;
        }
        h1#header-text {
            width: 100%;
        }
        header h2 {
            position: absolute;
            top: 65%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        #desktop-text {
            display: none;
        }
        #mobile-text {
            display: inline-block;
            background-color: rgb(252, 172, 69);
            color: rgb(37, 37, 37);
        }
        header>h2 a {
            color: rgb(37, 37, 37);
        }
        header>h2>a:hover {
            color: rgb(255, 255, 255);
            transition: all 0.5s ease;
        }
        #discount {
            display: none;
        }
        #quadrangle {
            display: none;
        }
        #quadrangle-2 {
            display: none;
        }
        img#logo {
            position: absolute;
            top: 30%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        
            middle {
                
            }
            
            h3.icons-h3 {
                width: 160px;
            }
            
            footer{
                display: none;
            }