body {
    margin: 0 auto;
    max-width:100%;
    background-color: rgb(37, 37, 37);
}

header {
    background-image: url(../background/Rectangle%205%20copy.png);
/*    background-image: url(../background/logo.png);*/
    position: absolute;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 620px;
    height: 600px;
}

#quadrangle {
    position: absolute;
    width: 45%;
    right: 0px;
    top: -50px;
}

#quadrangle-2 {
    position: absolute;
    width: 45%;
    right: 0px;
    top: -40px;
}

#icons {
    background: #fff;
    position: absolute;
    top:600px;
    width: 100%;
    height: 300px;
}

footer {
    background-color:  rgb(37, 37, 37);
    position: absolute;
    top: 900px;
    width: 100%;
    height: 300px;
}