body {
    margin: 0 auto;
    max-width: 100%;
    background-color: rgb(37, 37, 37);
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
}

header {
    background-image: url(../background/Rectangle%205%20copy.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 600px;
}

header>h1 {
    width: 540px;
    position: absolute;
    top: 230px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 100;
    text-align: center;
}

#john {
    font-size: 30px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

header>h2 {
    position: absolute;
    left: 100px;
    top: 400px;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 2.1;
    text-align: center;
    border-width: 3px;
    border-color: rgb(252, 172, 69);
    border-style: solid;
    width: 360px;
    height: 50px;
}

#logo {
    position: absolute;
    top: 150px;
    left: 180px;
    z-index: 2;
}

#quadrangle {
    position: absolute;
    width: 45%;
    right: 0px;
    top: -50px;
}

#quadrangle-2 {
    position: absolute;
    width: 45%;
    right: 0px;
    top: -40px;
}

#discount {
    float: right;
    width: 50%;
    height: 600px;
}

#discount>h2 {
    margin-top: 120px;
    font-size: 36px;
    width: 350px;
    color: rgb(234, 159, 61);
}

#discount>h3 {
    margin-top: -30px;
    margin-left: 10px;
    width: 350px;
    font-size: 16px;
}

input {
    margin: 7px;
    display: block;
    width: 300px;
    line-height: 30px;
    border-width: 1px;
    border-color: rgb(149, 149, 149);
    border-style: solid;
}

input::placeholder {
    padding: 7px;
    color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
    font-weight: light;
}

input:focus {
    padding-left: 7px;
}

input[type="submit"] {
    font-size: 23px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(39, 39, 39);
    font-weight: bold;
    text-align: center;
    background-color: rgb(252, 172, 69);
    width: 200px;
    height: 45px;
    margin-left: 60px;
    margin-top: 20px;
}

#icons {
    background: #fff;
    position: absolute;
    top: 600px;
    width: 100%;
    height: 300px;
}

footer {
    background-color: rgb(37, 37, 37);
    position: absolute;
    top: 900px;
    width: 100%;
    height: 300px;
}